fastapi
uvicorn
streamlit
python-multipart
pandas
requests
PyPDF2
python-docx
pdfminer.six
langchain
langchain-core
langchain-groq
langchain-chroma
chromadb
langgraph
langchain-community
sentence-transformers
torch
